<html>

<head>
  <title>Guest Book</title>
  <link rel="stylesheet" href="css/guest-book.css">
  <script src="postComment.js"></script>
</head>

<body>
  <div id="guest-book">

    <header>
      <h1>
        <a href="index.html">
          << </a>
            Guest Book
      </h1>
      <form action="/logout" method="post">
        <input type="submit" value="logout">
      </form>
    </header>

    <form id="comment-form">
      <h2>Leave a comment</h2> <br>
      <div>
        <label for="comment">Comment:</label>
        <textarea name="comment" cols="30" rows="5"></textarea>
      </div>
      <input type="button" value="Submit" onclick="guestBook()">
    </form>

    <br>
    <hr>
    <table id="comments">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody id="commentList">
        ___COMMENT___
      </tbody>
    </table>
  </div>

</body>

</html>